@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Songs List only access to Authenticated User</p>
    <a class="btn btn-info" asp-area="" asp-controller="Songs" asp-action="Index">Go to Song List</a>
</div>
